#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 30px;
}

.editing {
  min-height: 1rem;
  width: 50%;
  border: #126e82 3px solid;
  padding: 20px;
}
